<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webSite1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServletTool7</display-name>
    <servlet-name>UploadServletTool7</servlet-name>
    <servlet-class>upload.UploadServletTool7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletTool7</servlet-name>
    <url-pattern>/UploadServletTool7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServletTool8</display-name>
    <servlet-name>UploadServletTool8</servlet-name>
    <servlet-class>upload.UploadServletTool8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletTool8</servlet-name>
    <url-pattern>/UploadServletTool8</url-pattern>
  </servlet-mapping>
</web-app>